---
- ansible.builtin.assert:
    that:
      - dt_env_url is defined
      - dt_api_token is defined

- ansible.builtin.set_fact:
    dt_env_url_base: "{{ dt_env_url | regex_replace(/+,) }}"

- ansible.builtin.set_fact:
    dt_activegate_url: >-
      {{ dt_env_url_base }}/api/v1/deployment/installer/gateway/unix/latest
      {%- if (dt_network_zone | default() | length) > 0 -%}
      ?networkZone={{ dt_network_zone | urlencode }}
      {%- endif -%}

- ansible.builtin.stat:
    path: /opt/dynatrace/gateway
  register: ag_dir

- ansible.builtin.get_url:
    url: "{{ dt_activegate_url }}"
    dest: /tmp/dynatrace-activegate.sh
    mode: "0755"
    headers:
      Authorization: "Api-Token {{ dt_api_token }}"
  when: not ag_dir.stat.exists

- ansible.builtin.command: >-
    /bin/sh /tmp/dynatrace-activegate.sh
    {% if (dt_network_zone | default() | length) > 0 %}--set-network-zone={{ dt_network_zone }}{% endif %}
  args:
    creates: /opt/dynatrace/gateway
  when: not ag_dir.stat.exists
